
&nbsp;
<div class="container">
        <table>
            <thead>    </thead>
            <tbody>
                <tr *ngFor="let todo of todos" >
                        <input type="checkbox" class="checkbox" [(ngModel)]="todo.completed" />
                            <span [ngClass]="{'checked': todo.completed}">{{ todo.input1 }} </span>
                </tr>
                <tr>
                        <button (click)="deleteSelectedTodos()" class="btn btn-info" ng-model="button" ng-disabled="checked">Delete Selected Elements </button>
                </tr> 
            </tbody>
        </table>
</div>