<div class="container.fluid">
<form>
  <div class="card text-white bg-primary mb-3" style="width: 18rem;">
  <div class="card-body">
  <div class="form-group">
    <label for="exampleInputEmail1">Inserisci Username</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Username">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Inserisci Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <button type="login" class="btn btn-dark">Login</button>
  <br>
  <a href="" style="display:block"><br>Password Dimenticata?</a>
  </div>
  </div>
</form>
</div>
