<div class="container" style="display: inline;" class="center">
    <div class="card" class="col align-self-center" style="width: 18rem; background-color: blue; border-radius: 15px;   display: block;
    margin-left: auto;
    margin-right: auto;">
        <div class="card-body">
          <h5 class="card-title" style="color:  white;">Login form</h5>
          <input type="text" class="form-control" placeholder="unsername">
          <p><br></p>
          <input type="password" class="form-control" placeholder="password">
    
          <p><br></p>
    
          <button type="submit"  class="btn btn-primary" style="  display: block;
          margin-left: auto;
          margin-right: auto;" >Login!</button>
    
          <p><br></p>
    
          <a href="#" style="color: whitesmoke;">Password dimenticata?</a>
        </div>
      </div>
    </div>
